.star-wars-intro {
  background: #000;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 400px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  text-align: justify;
}

.crawl-container {
  position: relative;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

.crawl {
  position: relative;
  transform-origin: 50% 100%;
}

.title {
  text-align: center;
  margin-bottom: 100px;
}

.title h1 {
  font-size: 90px;
  margin-bottom: 20px;
  letter-spacing: 10px;
}

.crawl p {
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

@keyframes crawl {
  0% {
    top: 1000px;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}